@import '../config/_colors'
@import '../config/_breakpoints'
  
.call-to-action
  height: 300px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  +media($breakpoint-sm)
    height: auto
    padding: 48px 0

.call-to-action__header
  font-size: 32px
  font-weight: 400
  color: $color-black
  margin-top: 0
  max-width: 90vw
  text-align: center

  +media($breakpoint-sm)
    font-size: 24px

.call-to-action__button
  font-size: 32px
  color: $color-white
  font-weight: 300
  background: linear-gradient(to bottom, $color-gold, $color-gold-dark)
  height: 60px
  width: 360px
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none
  border-radius: 3px
  max-width: 90vw

  +media($breakpoint-sm)
    font-size: 24px