@import '../config/_variables'
  
.footer
  height: $footer-height
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.footer__link
  text-decoration: none

.footer__image
  height: 24px
  margin: 0 4px