@import '../config/_variables'
@import '../config/_colors'
@import '../config/_breakpoints'
  
.footer
  height: $footer-height
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 110px
  background: $color-grey-light
  +media($breakpoint-md)
    padding: 0 40px
  +media($breakpoint-sm)
    padding: 0 24px

.footer__disclaimer
  flex-grow: 1
  color: $color-black

  +media($breakpoint-xs)
    font-size: 12px

.footer__link
  text-decoration: none

.footer__image
  height: 24px
  margin: 0 4px

  +media($breakpoint-xs)
    height: 20px