@import '../config/_colors'
@import '../config/_variables'
@import '../config/_breakpoints'
  
.hero
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding: 0 $hero-padding

.hero__left
  display: flex
  flex-direction: column
  align-items: flex-start
  width: 40%
  margin-top: -64px

.hero__header
  font-size: 48px
  font-weight: 500
  margin-bottom: 0
  max-width: 90vw
  color: $color-black
  +media($breakpoint-md)
    font-size: 36px
  +media($breakpoint-sm)
    font-size: 30px
    margin-bottom: 0
  +media($breakpoint-xs)
    font-size: 24px

.hero__subheader
  font-size: 24px
  font-weight: 300
  max-width: 90vw
  margin-top: 16px
  color: $color-black
  +media($breakpoint-md)
    font-size: 20px
  +media($breakpoint-sm)
    font-size: 18px
  +media($breakpoint-xs)
    font-size: 16px

.hero__button
  height: 60px
  font-size: 32px
  font-weight: 300
  width: 360px
  background: linear-gradient(to bottom, $color-gold, $color-gold-dark)
  display: flex
  align-items: center
  justify-content: center
  text-decoration: none
  color: white

.hero__image
  margin-top: 32px
  margin-bottom: 32px
  width: 500px
  max-width: 90vw
  margin-right: -16px
  +media($breakpoint-sm)
    margin-top: 24px