@import '../config/_colors'
@import '../config/_variables'
  
.hero
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: calc(100vh - #{$nav-height} * 2)

.hero__header
  font-size: 48px
  font-weight: 500
  margin-bottom: 0

.hero__subheader
  font-size: 24px
  font-weight: 300

.hero__image
  margin-top: 32px
  width: 500px