#lock
  animation: 2s lock infinite linear alternate

#shadow
  animation: 2s shadow infinite linear alternate
  transform-origin: center
  transform-box: fill-box

#head
  animation: 2.5s head infinite linear alternate
  transform-origin: bottom
  transform-box: fill-box

#hanging-leg
  transform: rotate(5deg)
  animation: 2.5s leg infinite linear alternate
  transform-origin: top-left
  transform-box: fill-box

@keyframes lock
  0%
    transform: translateY(0)
  100%
    transform: translateY(30px)

@keyframes shadow
  0%
    transform: translateY(30px) scale(1.25)
  100%
    transform: translateY(0) scale(1)

@keyframes head
  0%
    transform: rotate(0)
  100%
    transform: rotate(5deg)

@keyframes leg
  0%
    transform: rotate(5deg)
  100%
    transform: rotate(-5deg)