#lock
  animation: 2.5s lock infinite ease-in-out alternate

#shadow
  animation: 2.5s shadow infinite ease-in-out alternate
  transform-origin: center
  transform-box: fill-box

#head
  animation: 2.5s head infinite ease-in-out alternate
  transform-origin: bottom
  transform-box: fill-box

#hanging-leg
  transform: rotate(5deg)
  animation: 2.5s leg infinite ease-in-out alternate
  transform-origin: top-left
  transform-box: fill-box

@keyframes lock
  0%
    transform: translateY(0)
  100%
    transform: translateY(40px)

@keyframes shadow
  0%
    transform: translateY(40px) scale(1.25)
  100%
    transform: translateY(0) scale(1)

@keyframes head
  0%
    transform: rotate(0)
  100%
    transform: rotate(5deg)

@keyframes leg
  0%
    transform: rotate(5deg)
  100%
    transform: rotate(-5deg)