@import '../config/_colors'
@import '../config/_variables'
@import '../config/_breakpoints'
  
.nav
  height: $nav-height
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 110px
  +media($breakpoint-md)
    padding: 0 40px
  +media($breakpoint-sm)
    padding: 0 24px

.nav__header
  font-size: 24px
  font-weight: 500
  display: flex
  align-items: center
  +media($breakpoint-sm)
    font-size: 20px
  +media($breakpoint-xs)
    font-size: 16px

.nav__logo
  width: 32px
  margin-right: 8px

.nav__button
  background: $color-blue
  color: $color-white
  border: none
  border-radius: 3px
  padding: 8px 16px
  font-size: 18px
  font-family: Roboto, sans-serif
  font-weight: 300
  +media($breakpoint-sm)
    font-size: 16px
  +media($breakpoint-xs)
    font-size: 12px